
<div class="content-wrapper">
    <div class="bg-primary text-white fw-bold fs-15 mb-2">
      <div class="container d-md-flex flex-md-row">
        <!-- <div class="d-flex flex-row align-items-center">
                  <div class="icon text-white fs-22 mt-1 me-2"> <i class="uil uil-location-pin-alt"></i></div>
                  <address class="mb-0">Moonshine St. 14/05 Light City</address>
                  </div> -->
        <div class="d-flex flex-row align-items-center me-6 ms-auto">
          <div class="icon text-white fs-22 mt-1 me-2"> <i class="uil uil-phone-volume"></i></div>
          <p class="mb-0">91 88007 01696</p>
        </div>
        <div class="d-flex flex-row align-items-center">
          <div class="icon text-white fs-22 mt-1 me-2"> <i class="uil uil-message"></i></div>
          <p class="mb-0"><a href="mailto:export@greenearthsurgical.com"
              class="link-white hover">export@greenearthsurgical.com </a></p>
        </div>
        <a href="#" class="btn btn-sm btn-primary rounded" data-bs-toggle="modal" data-bs-target="#modal-01">Get
          Quote</a>
      </div>
      <!-- /.container -->
    </div>
    <header class="wrapper mb-1">
      <nav class="navbar navbar-expand-lg center-nav transparent navbar-light caret-none">
        <div class="container flex-lg-row flex-nowrap align-items-center">
          <div class="navbar-brand w-100">
            <a href="./index.html">
              <img src="./assets/img/greenearth-logo.svg" alt="" style="width: 35%;">
            </a>
          </div>
          <div class="navbar-collapse offcanvas-nav">
            <div class="offcanvas-header d-lg-none d-xl-none">
              <a href="./index.html">
                <img src="./assets/img/greenearth-logo.svg" alt="" style="width: 35%;">
              </a>
              <button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-nav-close"
                aria-label="Close"></button>
            </div>


       



            <ul class="navbar-nav">
              <li class="nav-item"><a  routerLink="home" class="nav-link active" href="index.html">Home</a>
              </li>
              <li class="nav-item dropdown"><a routerLink="aboutus" class="nav-link " href="about.html">About Us</a>
              </li>
              <li class="nav-item dropdown"><a  routerLink="product" class="nav-link " href="products.html">Products</a>
              </li>
              <li class="nav-item dropdown"><a routerLink="quality"      class="nav-link  " href="quality.html">Quality</a>
              </li>
              <li class="nav-item"><a routerLink="pricing" class="nav-link" href="pricing.html"> Pricing</a>
              </li>
              <li class="nav-item"><a  routerLink="contactus" class="nav-link" href="contact.html"> Contact Us</a>
              </li>
            </ul>
            <!-- /.navbar-nav -->
          </div>
          <!-- /.navbar-collapse -->
          <!-- /.navbar-other -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
    </header>
    <!-- /header -->

    </div>

