


  <section class="wrapper bg-gray">
    <div class="container pt-5 pt-md-10 pb-md-10  text-left">
        <div class="row">
            <div class="col-xl-6">
                <h1 class="display-1  ">Our Products</h1>
                <p class="lead fs-lg mb-4">A company turning ideas into beautiful things.</p>
            </div>  
            <!-- /column -->
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Product</li>
            </ol>
        </nav>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section class="wrapper bg-light  upper-end lower-end">



    <div class="container py-14 py-md-16">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 ">
                <a href="innerproduct.html">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="../../../assets/img/photos/gehc_hp_pf01_imaging_dtm 1.png" class="img-fluid"
                                alt="Responsive image" />
                            <div class="box-text">
                                <h6 class="pt-5"> AMBULANCE AND
                                    EMERGENCY SUPPLIES - (GES-AMB)
                                </h6>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                            <a href="" class="viewlink-box">View Details</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 ">
                <div class="card h-100">
                    <div class="card-body">
                        <img src="../../../assets/img/photos/gehc_hp_pf01_imaging_dtm 1.png" class="img-fluid"
                            alt="Responsive image" />
                        <div class="box-text">
                            <h6 class="pt-5">ANATOMICAL MODELS (GES-AM) </h6>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <a href="" class="viewlink-box">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 ">
                <div class="card h-100">
                    <div class="card-body">
                        <img src="../../../assets/img/photos/gehc_hp_pf01_imaging_dtm 1.png" class="img-fluid"
                            alt="Responsive image" />
                        <div class="box-text">
                            <h6 class="pt-5"> AUTOCLAVE
                                AND
                                STERILIZERS - (GES-AS)
                            </h6>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <a href="" class="viewlink-box">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 ">
                <div class="card h-100">
                    <div class="card-body">
                        <img src="../../../assets/img/photos/gehc_hp_pf01_imaging_dtm 1.png" class="img-fluid"
                            alt="Responsive image" />
                        <div class="box-text">
                            <h6 class="pt-5"> AMBULANCE AND
                                EMERGENCY SUPPLIES - (GES-AMB)
                            </h6>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <a href="" class="viewlink-box">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 mt-5 ">
                <div class="card h-100">
                    <div class="card-body">
                        <img src="../../../assets/img/photos/gehc_hp_pf01_imaging_dtm 1.png" class="img-fluid"
                            alt="Responsive image" />
                        <div class="box-text">
                            <h6 class="pt-5"> AMBULANCE AND
                                EMERGENCY SUPPLIES - (GES-AMB)
                            </h6>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <a href="" class="viewlink-box">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>