<div class="content-wrapper">
    <section class="wrapper bg-light position-relative min-vh-70 d-lg-flex align-items-center">
        <div class="rounded-4-lg-start col-lg-6 order-lg-2 position-lg-absolute top-0 end-0 image-wrapper bg-image bg-cover h-75 min-vh-50"
            data-image-src="../../../assets/img/custom/img25.png">
            <img src="../../../assets/img/custom/img25.png" alt="">
        </div>


        <!--/column -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="mt-10 mt-md-11 mt-lg-n10 px-10 px-md-11 ps-lg-0 pe-lg-13 text-center text-lg-start"
                      >
                        <h1 class="display-1 mb-5">Improve the lives in moment</h1>
                        <p class="lead fs-18 lh-sm mb-7 pe-md-10">Lorem Ipsum has been the industry's standard dummy
                            text ever
                            since the 1500s, when an unknown printer took a
                        </p>
                        <div class="d-flex justify-content-center justify-content-lg-start" >
                            <span><a href="#" class="btn btn-lg btn-outline-primary rounded-pill"
                                    style="margin-right: 20px;">Explore Products</a></span>
                            <span><a href="#" class="btn btn-lg btn-primary rounded-pill me-2">Request for
                                    Quote</a></span>
                        </div>
                    </div>
                    <!--/div -->
                </div>
                <!--/column -->
            </div>
            <!--/.row -->
        </div>
   


        
    </section>
    <!-- our products start here  -->
    <section class="wrapper bg-grey">
        <div class="container py-14 py-md-10">
            <div class="row gx-lg-8 gx-xl-12 gy-10 gy-lg-0 mb-11">
                <div class="col-lg-12">
                    <h3 class="display-4 mb-3 pe-xl-10"> Our Products by Category</h3>
                    <p class="lead fs-md mb-0 pe-xxl-10  mb-5">Limited products are ISO 9001 and CE certified and we
                        have been
                        recognized as Star Export House by Government of India.
                    </p>
                </div>
                <!-- /column -->
                <div class="col-lg-12 mt-lg-2">
                    <div class="row align-items-center counter-wrapper gy-6 text-center">
                        <div class="carousel owl-carousel" data-margin="30" data-nav="true" data-dots="true"
                            data-autoplay="false" data-autoplay-timeout="5000"
                            data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1200":{"items": "3"}}'>
                            <div class="item">
                                <div class="box">
                                    <img src="./assets/img/photos/gehc_hp_pf01_imaging_dtm 1.png" alt="">
                                    <div class="box-text">
                                        <h4> Lorem ipsum dolor sit amet consectetur.</h4>
                                        <p>Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item -->
                            <div class="item">
                                <div class="box">
                                    <img src="./assets/img/photos/gehc_hp_pf02_ultrasound_dtm 1.png" alt="">
                                    <div class="box-text">
                                        <h4> Lorem ipsum dolor sit amet consectetur.</h4>
                                        <p>Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item -->
                            <div class="item">
                                <div class="box">
                                    <img src="./assets/img/photos/gehc_hp_pf03_healthcareit_dtm 1.png" alt="">
                                    <div class="box-text">
                                        <h4> Lorem ipsum dolor sit amet consectetur.</h4>
                                        <p>Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item -->
                        </div>
                        <!-- /.owl-carousel -->
                    </div>
                    <!--/.row -->
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
    </section>

    <section class="wrapper bg-f time-table-banner image-wrapper-custom">

        <div class="container  ">
            <div class="row ">
                <div class="col-lg-5 col-md-7 vertical-center">
                    <h2 class="display-6 mb-3">Covid - 19 response Plan</h2>

                    <p class="lead fs-lg"> We’re working to meet the needs of healthcare providers
                        so they can safely serve the patients who depend on them.
                    </p>
                </div>


            </div>
        </div>


    </section>


    <section>

        <hr>
        <h3 class="display-4 mb-3 text-center">What People Say About Us</h3>
        <p class="lead fs-lg mb-10 text-center">Don't take our word for it. See what customers are saying about us.</p>
        <div class="row gx-lg-8 gx-xl-12 gy-6 mb-14 align-items-center">
            <div class="col-lg-7">
                <div class="row gx-md-5 gy-5">
                    <div class="col-md-6">
                        <figure class="rounded mt-md-10 position-relative"><img src="./assets/img/photos/g5.jpg"
                                srcset="./assets/img/photos/g5@2x.jpg 2x" alt=""></figure>
                    </div>

                    <div class="col-md-6">
                        <div class="row gx-md-5 gy-5">
                            <div class="col-md-12 order-md-2">
                                <figure class="rounded"><img src="./assets/img/photos/g6.jpg"
                                        srcset="./assets/img/photos/g6@2x.jpg 2x" alt=""></figure>
                            </div>

                            <div class="col-md-10">
                                <div class="card bg-pale-primary text-center">
                                    <div class="card-body py-11 counter-wrapper">
                                        <h3 class="counter text-nowrap">5000+</h3>
                                        <p class="mb-0">Satisfied Customers</p>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-lg-5 mt-5">
                <div class="basic-slider owl-carousel gap-small" data-margin="30">
                    <div class="item">
                        <blockquote class="icon icon-top fs-lg text-center">
                            <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum ligula
                                porta
                                felis euismod semper. Cras justo odio consectetur.”
                            </p>
                            <div class="blockquote-details justify-content-center text-center">
                                <div class="info ps-0">
                                    <h5 class="mb-1">Coriss Ambady</h5>
                                    <p class="mb-0">Financial Analyst</p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- /.item -->
                    <div class="item">
                        <blockquote class="icon icon-top fs-lg text-center">
                            <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum ligula
                                porta
                                felis euismod semper. Cras justo odio consectetur.”
                            </p>
                            <div class="blockquote-details justify-content-center text-center">
                                <div class="info ps-0">
                                    <h5 class="mb-1">Cory Zamora</h5>
                                    <p class="mb-0">Marketing Specialist</p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- /.item -->
                    <div class="item">
                        <blockquote class="icon icon-top fs-lg text-center">
                            <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum ligula
                                porta
                                felis euismod semper. Cras justo odio consectetur.”
                            </p>
                            <div class="blockquote-details justify-content-center text-center">
                                <div class="info ps-0">
                                    <h5 class="mb-1">Nikolas Brooten</h5>
                                    <p class="mb-0">Sales Manager</p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- /.item -->
                </div>
                <!-- /.owl-carousel -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <!-- /div -->