<section class="wrapper bg-gray">
    <div class="container pt-10 pb-10  pt-md-14 text-center">
        <div class="row">
            <div class="col-xl-6 mx-auto">
                <h1 class="display-1 mb-4">Hello! This is Green Earth</h1>
                <p class="lead fs-lg mb-0">A company turning ideas into beautiful things.</p>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>

</section>


<!-- who we are  -->
<section class="wrapper bg-light  upper-end lower-end">
    <div class="container py-14 py-md-10">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-5 mb-md-5 align-items-center">
            <div class="col-lg-6 position-relative order-lg-2">
                <div class="shape bg-dot primary rellax w-16 h-20" data-rellax-speed="1"
                    style="top: 3rem; left: 5.5rem"></div>
                <div class="overlap-grid overlap-grid-2">
                    <div class="item">
                        <figure class="rounded shadow"><img src="./assets/img/photos/about2.jpg"
                                srcset="./assets/img/photos/about2@2x.jpg 2x" alt=""></figure>
                    </div>
                    <div class="item">
                        <figure class="rounded shadow"><img src="./assets/img/photos/about3.jpg"
                                srcset="./assets/img/photos/about3@2x.jpg 2x" alt=""></figure>
                    </div>
                </div>
            </div>
            <!--/column -->
            <div class="col-lg-6">
                <h2 class="display-4 mb-3">Who Are We?</h2>
                <p class="lead fs-lg">Green Earth Surgicals is one of the prominent suppliers of Medical
                    Equipments, Surgical Instruments and Hospital Supplies across the globe. The company has
                    always been spearheading towards supplying only high-quality and technically advanced medial
                    products that thrives to provide premium healthcare services. The quality of services and
                    solidity of supply chain network, makes Green Earth Surgicals a partner of choice!
                </p>
                <p class="mb-6">The Company is dedicatedly working to become a trademark supplier of the
                    surgical and hospital related equipments. We at Green Earth Surgicals, believe in promoting
                    a trustworthy healthcare service that bestows quality outcome for the patients. And for this
                    believe we take a responsibility to render fast and quality deliveries of required products.
                    We are a focused group of people who are enthusiastic towards their job and always up for
                    finishing the deals with buyers.
                </p>


            </div>
            <!--/column -->
        </div>
        <div class="row mb-2">
            <div class="col-xl-12">

                <p class="mb-6">Every product you receive from Green Earth Surgical, surefires best medical
                    services as it deals with most cutting-edge technology and genuine specifications. The goal
                    of the company is to supply its products across the globe with a key speciality to reach and
                    match the deadlines of the deal even in the farthest corner of the world. We improve the
                    ecosystem of suppliers with our quick, cost-effective, and quality supplies. Our supplies
                    will be a great use for hospitals, healthcares, clinics, medical stores, laboratories etc
                    located in any part of the world. We assure delivering your required supplies within the
                    decided deadlines despite of any or every possible hurdle!
                </p>
                <p class="mb-6">Our backbone- the Green Earth Surgicals team takes absolute joy in providing
                    hassle-free deals with buyers. Potentially, the company is also capable of delivering such
                    requirements that are not listed in the product list, in case the manufacturers of those
                    requirements are available in our network. With Green Earth Surgicals you can find wide
                    range of variety of healthcare related product all under the same roof. All the products and
                    equipments you will find on our website is professionally and clinically proven.
                </p>
                <p class="mb-6">The team has always understand the seriousness of any supply requirement, so it
                    thrives to be frequently available on calls, and emails for the buyers; to give complete
                    efforts to meet the requirements. We are authorized and licensed suppliers for various
                    Medical Equipments, Surgical Instruments and Hospital Supplies across the globe. Just a call
                    from you and the team of Green Earth Surgicals will be at your doorsteps to deliver the
                    required products.
                </p>
            </div>
        </div>
    </div>
</section>



<section class="wrapper bg-soft-primary">
    <div class="container pt-10 pb-14 pb-md-0">
        <div class="row gx-lg-8 gx-xl-0 align-items-center">
            <div class="col-md-5 col-lg-12">
                <h2 class="display-6 mb-3">What do we do? </h2>
                <p class="mb-6">The company provides Hospital Furnitures, Surgical Instruments, Ambulance and
                    Emergency supplies, Autoclave and Sterilizers, Covid-19 Products, Dental Products and
                    Equipments etc. It also supplies a wide range of products like Diagnostic Test Kits,
                    Dressing and Bandages, ENT Products & Equipments, Lab Plasticware and many more. We sell all
                    our products directly to the buyers across the globe who then use it for their specific
                    business requirements.
                </p>
            </div>


</div>
            <!--/.row -->
        </div>
        <!-- /.container -->
</section>




<section class="wrapper">
    <div class="container pt-10 pb-14 pb-md-6">
        <div class="col-md-5 col-lg-12">
            <h2 class="display-6 mb-3">How we got started? </h2>
            <p class="mb-6"> It all started with an idea of providing maximum assistance to the Medical
                Sector! The founders
                of Green
                Earth Surgicals, being ‘the man of mark’ then gave their unprecedented efforts to grow the
                business and
                capture new markets worldwide. Today, the company stands as one of the renowned suppliers of
                the
                healthcare
                products and services.
            </p>
        </div>
        </div>
</section>





<section class="wrapper bg-soft-primary">
    <div class="container pt-10  pb-14 pb-md-14">
        <div class="row ">
            <div class="col-lg-6">

                <img src="../../../assets/img/svg/vision.svg" class="svg-inject icon-svg icon-svg-md text-blue mb-3"
                    alt="" />



                <h2 class="display-6 mb-3 pr-5">Our Vision </h2>
                <p class="mb-6">

                    The vision statement of Green Earth Surgicals states, ‘To strengthen the
                    healthcare services
                    across the world by providing high-tech and quality products that bestows impeccable medical
                    assistance.’ We thrive to improve the quality of life of the patients thereby simplifying
                    the
                    ecosystem of healthcare services.
                    We have a crystal clear aim of becoming the top-notch suppliers of the world in terms of the
                    affordability, product quality, and hassle-free deliveries. Our aims will also involve areas
                    like:</p>
                <div class="row gy-3 gx-xl-8">
                    <div class="col-xl-12">
                        <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                            <li><span><i class="uil uil-check"></i></span><span>To become the most reputed
                                    healthcare suppliers worldwide.</span>
                            </li>
                            <li class="mt-3"><span><i class="uil uil-check"></i></span><span>To provide genuine
                                    and quick services that involves complete satisfaction of buyers.</span>
                            </li>
                        </ul>
                    </div>
                    <!--/column -->
                    <div class="col-xl-12">
                        <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                            <li><span><i class="uil uil-check"></i></span><span>Maintain the aura and
                                    commitments of the company.</span>
                            </li>
                            <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Develop a reliable
                                    suppliers ecosystem.</span>
                            </li>
                        </ul>
                    </div>
                    <!--/column -->
                </div>
            </div>
            <div class="col-lg-6">


                <img src="../../../assets/img/svg/target.svg" class="svg-inject icon-svg icon-svg-md text-blue mb-3"
                    alt="" />


                <h2 class="display-6 mb-3 pr-5">Our Mission </h2>
                <p class="mb-6">
                    The mission statement of Green Earth Surgicals states, ‘To become a responsive and
                    responsible
                    healthcare supplier, that is known for the ‘trust’ people put in its ‘Brand’.’ Green Earth
                    Surgicals and its determined team is focused in serving the best quality supplies that
                    eradicates the suffering of patients right when they need it the most!
                    Our constant approach is to improve the capabilities of healthcare conveyance. We are an
                    opulent
                    supplier of Medical Equipments, Surgical Instruments and Hospital Supplies whose products
                    have
                    dignified value both in terms of economical and clinical states. We also have:</p>
                <div class="row gy-3 gx-xl-8">
                    <div class="col-xl-12">
                        <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                            <li><span><i class="uil uil-check"></i></span><span>Dedicated approach for
                                    advancement of healthcare services.</span>
                            </li>
                            <li class="mt-3"><span><i class="uil uil-check"></i></span><span>High command for
                                    completing deals with punctuality.</span>
                            </li>
                        </ul>
                    </div>
                    <!--/column -->
                    <div class="col-xl-12">
                        <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                            <li><span><i class="uil uil-check"></i></span><span>Reachability to any and every
                                    major and minor cities/villages/towns/states/countries
                                    worldwide.</span>
                            </li>
                            <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Capabilities of
                                    expanding and delivering products that are hard to find or not mentioned in
                                    our product list.</span>
                            </li>
                        </ul>
                    </div>
                    <!--/column -->
                </div>
            </div>
            <!--/.row -->
        </div>
        </div>
        </section>
        <!-- /.container -->
